.room {
  display: flex;
  align-items: stretch;
  height: 100vh;

  main {
    flex: 8;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font: bold 24px "Poppins", sans-serif;
      margin: 64px 0 24px;
      color: #29292e;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a {
        color: #e559f9;
      }
    }
  }
}
